#root {
  max-width: 1280px;
  margin: 0 auto;
  min-width: 50%;
}

.logo {
  height: 10vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.text-center {
  text-align: center;
}


header {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

header h1 {
  flex-grow:1;
}

.bold {
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a66ee;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  background-color: #1a1a1a;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sessions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sessions-list>li {
  padding: 5px;
  border-bottom: #aaa solid 1px;
  text-align: center;
  cursor: pointer;
}



.message-bubble {
  border-radius: 7px;
  padding: 10px;
  margin: 3px 0;
  background-color: #79F;
  text-align: left;
  width: 75%;
}

.message-bubble .from {
  border-bottom: #111 solid 1px;
  padding-bottom: 5px;
  margin: 0 0 5px 0;
}

.message-bubble.support {
  background-color: #F97;

}

.history {
  overflow: scroll;
  max-height: 60vh;
  padding: 5px 10px;
  background-color: #eee;
}

.chat {
  margin-top: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.chat>textarea {
  resize: none;
  border-radius: 7px 0 0 7px;
  border: #bbb solid 1px;
  padding: 5px;
  flex-grow: 1;
}

.chat>button {
  border-radius: 0 7px 7px 0;
}


.finish {
  margin-top: 5px;
  background-color: #f50;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  #root {
    max-width: 100vw;
    min-width: 100vw;
  }
}
